<h1 class="post-title">
  <%= @post.title %>
  <% if current_user && @post.user.id == current_user.id %>
    <%= link_to 'edit this post', {controller: 'posts', action: 'edit'}, id: @post.id, class: 'edit-post-link' %>
    <%= link_to 'delete this post', {controller: 'posts', action: 'destroy'},
                method: :delete, id: @post.id, class: 'delete-post-link',
                data: {confirm: 'Are you sure you want to delete this post? '}
    %>

<% end %>
</h1>
<p class="post-author">author: <%= @post.user.username %></p>
<p class="post-body">
  <%= @post.body %>
</p>

<div class="comments-container">
  <%= render 'comments/form'%>
  <%= render 'comments/commentsBox' %>
</div>